app/irohajirui-sho/app/tmp/cache/models/*
app/irohajirui-sho/app/tmp/cache/persistent/*
app/irohajirui-sho/app/tmp/logs/*
app/irohajirui-sho/css
app/irohajirui-sho/files
app/irohajirui-sho/img
app/irohajirui-sho/js

setup/site.retry

