body {
	background: #777777;
	color: #FFFFFF;
	margin: 0px;
}

/************ header *************/ 

#header {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-right: 30px;
	line-height: 20px;
}
#header_title {
	color: #FFFFFF;
	font-size: 12pt;
	text-shadow: 0px 0px 5px #000;
	text-align: left;
}
#header_title a:link {
	color: #87CEEB;
	text-decoration: none;
}
#header_title a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#header_title a:hover {
	color: #CFEACE;
}

table .header_menu {
	color: #FFFFFF;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}
table .header_menu a {
	display:block;
	border:0px;
	color: #FFFFFF;
	text-decoration: none;
}
table .header_menu a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
table .header_menu a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #CCCCCC;
}

/************ footer *************/ 

#footer {
	font-size: 8pt;
	text-align: right;
	margin-left: 30px;
	margin-top: 4px;
	margin-right: 10px;
	margin-bottom: 4px;
}
#footer a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/************ content *************/ 

#content {
	background: #ffffff;
	color: #000000;
	font-size: 9pt;
	padding-top: 35px;
	padding-left: 35px;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
}
h2 {
	font-size: 12pt;
	font-weight: bold;
}
h3 { font-size: 10pt; }
h4 { font-size: 9pt; }
a:link { color: #4169E1; }
a:visited { color: #2860A3; }
a:hover { color: #1E90FF }

/************ table *************/ 

table.user {
	border-collapse: collapse;
	border-spacing: 0;
	width: 400px;
	margin-bottom: 30px;
}

th.user {
	text-align: left;
	padding: 10px 20px;
	color: #1D5C79;
	border-bottom: 2px solid #1D5C79;
}

td.user {
	text-align: left;
	padding: 10px 20px;
	color: #1D5C79;
	border-bottom: 1px solid #D0D0D0;
}

input {
	text-align: left;
	line-height: 20px;
	margin: 0px;
	background-color: #ffffff;
	border: 1px solid #999999;
	width: 160px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 20px;
}
button.add {
	line-height: 24px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #A9A9A9;
	color: #ffffff;
	border: 1px solid #696969;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

button.change {
	line-height: 24px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #A9A9A9;
	color: #ffffff;
	border: 1px solid #696969;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

button.login {
	line-height: 24px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #A9A9A9;
	color: #ffffff;
	border: 1px solid #696969;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
button.remove {
	font-size: 8pt;
	line-height: 16px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	background-color: #A9A9A9;
	color: #ffffff;
	border: 1px solid #696969;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}